.playing-field {
  position: relative;
  display: flex;
  justify-content: center;
  height: 400px;
  width: 400px;
  margin: 50px auto 25px auto;
  
  background-color: #0fb007;
}

canvas {
  border: var(--border-width-default) solid var(--color-black);
}

.game-logo {
  position: absolute;
  height: 100%;

  background-size: cover;
  background-position: center;
}